asgiref==3.5.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.1
Django==4.0.2
idna==3.3
psycopg2==2.9.3
pycparser==2.21
pygame==2.1.2
pyotp==2.6.0
python-dotenv==0.19.2
requests==2.27.1
robin-stocks==2.1.0
schedule==1.1.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.8
